
DATASETS/Historical_Bushfire_Boundaries/Historical_Bushfire_Boundaries.cpg
DATASETS/Historical_Bushfire_Boundaries/Historical_Bushfire_Boundaries.dbf
DATASETS/Historical_Bushfire_Boundaries/Historical_Bushfire_Boundaries.prj
DATASETS/Historical_Bushfire_Boundaries/Historical_Bushfire_Boundaries.shp
DATASETS/Historical_Bushfire_Boundaries/Historical_Bushfire_Boundaries.shx
