
DATASETS/Historical_Bushfire_Boundaries/Historical_Bushfire_Boundaries.cpg
DATASETS/Historical_Bushfire_Boundaries/Historical_Bushfire_Boundaries.dbf
DATASETS/Historical_Bushfire_Boundaries/Historical_Bushfire_Boundaries.prj
DATASETS/Historical_Bushfire_Boundaries/Historical_Bushfire_Boundaries.shp
DATASETS/Historical_Bushfire_Boundaries/Historical_Bushfire_Boundaries.shx
STEP9_DATA_MODELLING_AND_EXPLORATION/TestingModelsSandbox.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/tree.png
STEP9_DATA_MODELLING_AND_EXPLORATION/.ipynb_checkpoints/ModelTestingSandbox-checkpoint.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/.ipynb_checkpoints/Testing_Model_Fitting-checkpoint.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/.ipynb_checkpoints/TestingModelsSandbox-checkpoint.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/__pycache__/PreprocessData.cpython-311.pyc
STEP9_DATA_MODELLING_AND_EXPLORATION/Decision_Tree
STEP9_DATA_MODELLING_AND_EXPLORATION/Decision_Tree.pdf
STEP9_DATA_MODELLING_AND_EXPLORATION/DecisionTre
STEP9_DATA_MODELLING_AND_EXPLORATION/DecisionTre.pdf
STEP9_DATA_MODELLING_AND_EXPLORATION/DecisionTree
STEP9_DATA_MODELLING_AND_EXPLORATION/DecisionTree.pdf
STEP9_DATA_MODELLING_AND_EXPLORATION/reg
STEP9_DATA_MODELLING_AND_EXPLORATION/reg.pdf
STEP9_DATA_MODELLING_AND_EXPLORATION/Testing_Model_Fitting.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/VPD_Calc_Testing.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/PhotoPeriod_Testing.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/Precip_Variables_Construction.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/Lagged_Tmax_VPD_Construction_Test.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/Untitled1.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/Test Difference between VPD methods.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/Untitled2.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/Sites_VPD_Stats.csv
STEP9_DATA_MODELLING_AND_EXPLORATION/.ipynb_checkpoints/Lagged_Tmax_VPD_Construction_Test-checkpoint.ipynb
STEP9_DATA_MODELLING_AND_EXPLORATION/.ipynb_checkpoints/Test Difference between VPD methods-checkpoint.ipynb
DATASETS/AusPlots_Extracted_Data/AusPlots_FC_Change_2.0.6.csv
DATASETS/AusPlots_Extracted_Data/AusPlots_FC_Iter_2_0_6.csv
DATASETS/AusPlots_Extracted_Data/AusPlots_Sub_FC_Iter_2_0_6.csv
DATASETS/AusPlots_Extracted_Data/extracted_metadata_dictionary_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/extracted_site_info_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/extracted_soil_bulk_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/extracted_soil_char_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/extracted_soil_subsites_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/extracted_struct_summ_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/extracted_veg_basal_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/extracted_veg_PI_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/extracted_veg_vouch_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/growth_forms_classification_by_dom_species_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/growth_forms_pc_2-0-6.csv
DATASETS/AusPlots_Extracted_Data/Growth_Type_Classification.csv
DATASETS/AusPlots_Extracted_Data/site_veg_2-0-6.rds
AusPlots Visualisation/VectoriseTest.cpg
AusPlots Visualisation/VectoriseTest.dbf
AusPlots Visualisation/VectoriseTest.prj
AusPlots Visualisation/VectoriseTest.shp
AusPlots Visualisation/VectoriseTest.shx
STEP1_INFO_EXTRACTION_ADV/Write_Word_Doc.R
